<launch>
        <include file="$(find rosbridge_server)/launch/rosbridge_tcp.launch">
                <arg name="port" value="9090"/>
        </include> 

        <include file="$(find mhri)/launch/bringup_core.launch">
                <arg name="project_path" value="$(find boxy_robot)" />
        </include>

        <include file="$(find motion_renderer)/launch/bringup_renderer.launch">
                <arg name="fake_render_speech" value="false" />
        </include>


        <!--<include file="$(find google_cloud_speech)/launch/bringup.launch" />-->

        <include file="$(find speech_recognizer_py)/launch/bringup_perception.launch"/>
        
        <node name="dialog" type="dialog.py" pkg="mhri_dialog" output="screen">
                <param name="script_path" value="$(find boxy_robot)/scripts"/>
        </node>

        <!--<node name="naver_speech" type="speech_node.py" pkg="render_speech_naver_voice_tts" output="screen">
                <param name="config_file" value="$(find render_speech_naver_voice_tts)/config/config_file"/>
        </node>-->

        <node name="log" type="logger_node.py" pkg="shri_logger_node" output="screen">
                <param name="log_path" value="~/boxy.log"/>
        </node>
</launch>

